autokeras==1.0.20
cryptography==41.0.3
joblib==1.4.2
keras==2.8.0
keyboard==0.13.5
matplotlib==3.10.3
mouse==0.7.1
numpy==2.2.6
optuna==4.3.0
pandas==2.2.3
psutil==5.9.0
python-dotenv==1.1.0
scikit_learn==1.6.1
scipy==1.15.3
tensorflow==2.8.0
torch==2.6.0
torch_geometric==2.6.1
xgboost==3.0.1
